@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Lobster', cursive;
  background-image: radial-gradient(circle at top center, 
   rgb(213, 124, 141), rgb(214, 70, 102), rgb(204, 15, 101));
  margin: 0;
  min-height: 100vh;
  text-align: center;
  color: #B719A5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, p {
  margin: 10px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  main {
    max-width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}